{% extends "index.html" %}

{% block mobile_content %}
<button id="toggle_sidebar" class="btn-white btn-round m-3">
    <i class="fas fa-chevron-left"></i>
</button>
<div id="page_account" class="py-3 mt-5">
    <h5 class="p-3 border-bottom">
        Account
        <i class="material-icons float_right color_icon float-right">info</i>
    </h5>
    {% with sidebar = [
        {
            "title": "Profile",
            "href": "/driver/profile",
            "icon": "<i class='fas fa-user-circle'></i>",
        },
        {
            "title": "Payment Methods",
            "href": "/driver/payment_methods",
            "icon": "<i class='fas fa-credit-card'></i>",
        },
        {
            "title": "E-Mail",
            "href": "/driver/email",
            "icon": "<i class='fas fa-envelope'></i>",
        },
        {
            "title": "Phone",
            "href": "/driver/phone_number",
            "icon": "<i class='fas fa-phone'></i>",
        },
    ] %}
        {% for item in sidebar %}
        <a href="{{ item.href }}">
            <h5 class="p-3 border-bottom">
                {{ item.icon | safe }}
                {{ item.title }}
                <i class="material-icons color_icon float-right">arrow_forward_ios</i>
            </h5>
        </a>
        {% endfor %}
    {% endwith %}
</div>
{% endblock %}
