{% extends "index.html" %}

{% block mobile_content %}
<button id="toggle_sidebar" class="btn-primary btn-round m-3">
    <i class="fas fa-chevron-left"></i>
</button>
<div id="page_account">
    <div class="back_nav p-3 bg-primary mobile-heading">
    </div>
    <h4 class="p-3 border-bottom">
        Settings
    </h3>
    <h5 class="p-3 border-bottom">
        <a href="account">
            Account
        </a>
        <i class="material-icons color_icon float-right">arrow_forward_ios</i>
    </h5>
    <!--
    <h5 class="p-3 border-bottom">
        <a href="location">
            Location 
        </a>
        <i class="material-icons color_icon float-right">arrow_forward_ios</i>
    </h5>
    <h5 class="p-3 border-bottom">
        <a href="notifications">
            Notifications 
        </a>
        <i class="material-icons color_icon float-right">arrow_forward_ios</i>
    </h5>
    <h5 class="p-3 border-bottom">
        <a href="emergency">
            Emergency 
        </a>
        <i class="material-icons color_icon float-right">arrow_forward_ios</i>
    </h5>
    <h5 class="p-3 border-bottom">
        <a href="add_trusted_contacts">
            Trusted Contacts
        </a>
        <i class="material-icons color_icon float-right">arrow_forward_ios</i>
    </h5>
    -->
    <h5 class="p-3 border-bottom">
        <a href="log_out">
            Log Out 
        </a>
        <i class="material-icons color_icon float-right">arrow_forward_ios</i>
    </h5>
    <h5 class="p-3 border-bottom">
        <a href="delete_account">
            Delete Account 
        </a>
        <i class="material-icons color_icon float-right">arrow_forward_ios</i>
    </h5>
</div>
{% endblock %}
