{% extends "index.html" %}

{% block mobile_content %}
<div id="page_create_account">
    <div class="back_nav p-3 bg-primary mobile-heading">
        <a href="verification_phone">
            <i class="material-icons text-light">arrow_back_ios</i>
        </a>
    </div>
    <div class="p-3">
        <h4 class="mb-3">
            Help the community!
        </h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <br>
        <h4 class="mb-3">
            Round up my rides <i class="fas fa-info-circle"></i>
            <input type="checkbox" class="form-control"/>
        </h4>
        <h4 class="mb-3">
            Make a one-time donation
        </h4>
        <div class="row px-2 mb-2">
            <div class="col-3 px-1">
                <button class="btn btn-primary w-100">
                    $5
                </button>
            </div>
            <div class="col-3 px-1">
                <button class="btn btn-primary w-100">
                    $10
                </button>
            </div>
            <div class="col-3 px-1">
                <button class="btn btn-primary w-100">
                    $25
                </button>
            </div>
            <div class="col-3 px-1">
                <button class="btn btn-primary w-100">
                    $50
                </button>
            </div>
        </div>
        <div class="row px-2">
            <div class="col-12 px-1">
                <button class="btn btn-primary w-100">
                    Another amount 
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
