{% extends "index.html" %}

{% block mobile_content %}
<div id="page_main_screen">
    <div class="map bg-primary p-3">
        <button id="toggle_sidebar" class="btn-light btn-round">
            <i class="material-icons">menu</i>
        </button>
    </div>
    <div id="main_form" class="p-3">
        <h4>Where can we take you?</h4>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="material-icons">search</i>
                </span>
            </div>
            <input type="text" placeholder="Search destination from a ride ASAP" class="form-control"></input>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="material-icons">today</i>
                </span>
            </div>
            <input type="text" placeholder="Schedule a future ride." class="form-control"></input>
        </div>
    </div>
</div>
{% endblock %}
