{% extends "index.html" %}

{% block mobile_content %}
<div id="page_create_account">
    <div class="back_nav my-3 p-3">
        <a href="verification_phone">
            <i class="material-icons">arrow_back_ios</i>
        </a>
    </div>
    <h4 class="p-3 mb-3">
        Past Rides
    </h4>
    {% for i in range(10) %}
    <div class="row px-3">
        <div class="col-6">
            <p class="text-primary m-0">
                [ride.date],[ride.time]
            </p>
            <p>
                [ride.driver] in the [ride.make] [ride.model]
            </p>
        </div>
        <div class="col-6 text-right">
            <p class="m-0">
                [ride.price]
            </p>
            <a class="text-primary">
                add tip
            </a>
        </div>
    </div>
    <div class="mb-3 map_small bg-primary">
    </div>
    {% endfor %}
</div>
{% endblock %}
