{% extends "index.html" %}

{% block mobile_content %}
<div id="page_ride_en_route" class="map_view">
    <div class="map bg-primary">
        <button class="btn-light btn-round m-3">
            <a>
                <i class="material-icons">menu</i>
            </a>
        </button>
    </div>
    <div id="main_form" class="p-3 text-center">
        <nav>
            <div class="nav nav-pills" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab">
                    <i class="material-icons">arrow_drop_up</i>
                </a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab">
                    <i class="material-icons">arrow_drop_down</i>
                </a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <h4>Your ride is on the way!</h4>
                <p>Meet your driver</p>
                <div id="profile_picture" class="bg-primary m-auto">
                </div>
                <p class="m-0">[driver.name]</p>
                <p>[driver.pronouns]</p>
                <p class="text-primary">
                    [driver.name]'s car
                </p>
                <div class="row">
                    <div class="col-6">
                        <div id="car_thumbnail" class="bg-primary float-right">
                        </div>
                    </div>
                    <div class="col-6 text-left">
                        <p>
                            [make] [model]
                        </p>
                        <p>
                            [car color]
                        </p>
                        <p>
                            [car license place]
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <h4 class="mb-3">Your ride is on the way</h4>
                <div class="row">
                    <div class="col-6 text-center">
                        <div id="car_thumbnail" class="bg-primary m-auto">
                        </div>
                        <p>[driver.name]</p>
                    </div>
                    <div class="col-6 text-center">
                        <div id="car_thumbnail" class="bg-primary m-auto">
                        </div>
                        <p>[driver.name]</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary w-100 mb-1">
                            Contact Driver
                        </button>
                        <button class="btn btn-danger w-100 mb-1">
                            Cancel Ride
                        </button>
                        <button class="btn btn-info w-100 mb-0">
                            Add Notes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
