#content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#desktop_content {
    flex: auto;
    height: 100vh;
    overflow: scroll;
}
#desktop_content .container-fluid {
    min-height: calc(100vh - 57px);
}

#mobile_content {
    background: white;
    height: 100vh;
    width: 500px;
    min-width: 500px;
    position: sticky;
    top: 0px;
    overflow: scroll;
}

@media screen and (max-width: 500px) {
    #mobile_content {
        width: 100%;
        min-width: 100%;
    }
    #content {
        height: 100vh;
        overflow: hidden;
    }
}

.hidden {
    display: none;
}

#geoloc_msg_alert {
    border-radius: 0px;
    padding-right: 45px;
    padding-left: 75px;
    font-size: 10px;
}

#geoloc_msg_alert button {
    font-size: 18px;
}

.location_search_result_text {
    overflow-x: scroll;
}

div#main_form {
    z-index: 1;
}

div#main_form.expanded {
    position: absolute;
    width: 100%;
}

div.on_expanded {
    display: none;
}

div#main_form.expanded div.on_expanded {
    display: flex;
    flex-direction: column;
}

div.on_collapsed {
    display: block;
}

div#main_form.expanded div.on_collapsed {
    display: none;
}

div#pickup_time_picker_button span {
    width: fit-content;
}

div#pickup_time_picker_button i:first-child {
    width: 18px;
    font-size: 17px;
}

div#pickup_time_picker_button i:last-child {
    width: 10px;
    font-size: 11px;
}

.btn-white {
    background: white;
}

/*--------------------------------------
 * COMPONENTS
--------------------------------------*/

.btn-round {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: none;
}

i.material-icons {
    vertical-align: middle;
}

.mobile-heading {
    height: 33vh;
}

.map_small {
    height: 200px;
}

i.fas {
    width: 25px;
    text-align: center;
}

.map_view {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.map_view .map {
    flex-grow: 1;
}

#_toggle_sidebar {
    display: none;
}

#toggle_sidebar {
    position: fixed;
    z-index: 1;
    margin: 0px !important;
    top: 15px;
    left: 15px;
}

#toggle_sidebar i.fas {
    font-size: 23px;
    margin-left: -3px;
}

h1,h2,h3,h4,h5,h6,p,a {
    margin: 0px;
}

.uk-offcanvas-bar {
    background: white;
    color: black;
    width: 230px;
}

i.fas.fa-car.icon-driver {
    color: white;
    background: black;
    border-radius: 100px;
    height: 21px;
    padding-top: 4px;
    font-size: 13px;
    width: 21px;
    margin: 3px;
    margin-right: 1px;
}

span.icon-h {
    color: white;
    background: black;
    border-radius: 3px;
    font-size: 13px;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 2px;
}

h1#verification_code {
    font-size: 35vh;
}

.google_icon_img {
    margin: auto;
    display: block;
    padding: 9px;
    width: 50px;
}

div#map_search_results {
    max-height: 50%;
    overflow: scroll;
}

input {
    text-overflow: ellipsis;
}

.input-group-text {
    width: 55px;
    padding-left: 10px;
    padding-right: 10px;
}

.input-group-text i {
    margin: auto;
}

.stick_top{
    position: sticky;
    top: 0px;
}

.stick_bottom {
    position: sticky;
    bottom: 0px;
}

div#destination_search_results_wrapper.collapsed {
    position: absolute;
    height: 25vh;
    overflow: scroll;
    top: 75vh;
    background: white;
    width: calc(100% - 30px);
    margin: 0px 15px 0px 15px;
    border-radius: 5px 5px 0px 0px;
}

div#destination_search_results_wrapper .header {
    z-index: 0;
}

div#destination_search_results_wrapper.collapsed .header {
    z-index: 1;
}

/*--------------------------------------
 * PAGES
--------------------------------------*/

/* Initial Screen */

#page_inital_screen #logo {
    width: 200px;
    height: 200px;
    margin: auto;
}

/* Main Screen */

#page_main_screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#page_main_screen .map {
    flex-grow: 1;
}

/* Create Account */

#profile_picture {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    display: block;
}

#car_thumbnail {
    height: 100px;
    width: 100px;
}

/* Ride En-Route */

#page_ride_en_route .nav-item.active {
    display: none;
}

#page_ride_en_route nav {
    display: inline-block;
    float: left;
    width: 0px;
}

/*--------------------------------------
 * EXTRA
--------------------------------------*/

input {
    border: none !important;
    background: #eaeef3 !important;
}
span.input-group-text {
    border: none;
    background: #3b608859;
    color: white;
}
.btn, #toggle_sidebar, .uk-offcanvas-bar, #reqeust_form, #destination_search_results_wrapper {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0,0,0,.12);
}
