<div class="bg-light p-3 text-center border-bottom stick_top">
    <div id="profile_picture" class="bg-primary m-auto">
    </div>
    <p><strong>[user.name]</strong></p>
    <p>[user.pronoun]</p>
</div>
<div class="p-3">
    {% with sidebar = [
        {
            "title": "my account",
            "href": "/driver/account",
            "icon": "<i class='fas fa-user-circle'></i>",
        },
        {
            "title": "availible pickups",
            "href": "/driver/availible_pickups",
            "icon": "<i class='fas fa-car'></i>",
        },
        {
            "title": "scheduled pickups",
            "href": "/driver/scheduled_pickups",
            "icon": "<i class='fas fa-clock'></i>",
        },
        {
            "title": "settings",
            "href": "/driver/settings",
            "icon": "<i class='fas fa-cog'></i>",
        },
        {
            "title": "past rides",
            "href": "/driver/past_rides",
            "icon": "<i class='fas fa-car-side'></i>",
        },
        {
            "title": "about homobiles",
            "href": "/driver/about",
            "icon": "<span class='icon-h'>H</span>",
        },
        {
            "title": "help",
            "href": "/driver/help",
            "icon": "<i class='fas fa-question-circle'></i>",
        },
    ] %}
        {% for item in sidebar %}
            <a href="{{ item.href }}">
                <p class="mb-3 text-dark">
                    {{ item.icon | safe }}
                    {{ item.title }}
                </p>
            </a>
        {% endfor %}
    {% endwith %}
</div>
<div class="pb-3 pl-3 pr-3 bg-white stick_bottom">
    <a href="/rider">
        <p class="text-dark border-top pt-3">
            <i class="fas fa-road"></i>
            Switch to rider 
        </p>
    </a>
</div>
