<div class="bg-light p-3 text-center border-bottom stick_top">
    <div id="profile_picture" class="bg-primary m-auto">
    </div>
    <p><strong>[user.name]</strong></p>
    <p>[user.pronoun]</p>
</div>
<div class="p-3">
    {% with sidebar = [
        {
            "title": "request a ride",
            "href": "/rider/main_screen",
            "icon": "<i class='fas fa-car'></i>",
        },
        {
            "title": "past rides",
            "href": "/rider/past_rides",
            "icon": "<i class='fas fa-car-side'></i>",
        },
        {
            "title": "my account",
            "href": "/rider/account",
            "icon": "<i class='fas fa-user-circle'></i>",
        },
        {
            "title": "payment methods",
            "href": "/rider/payment_methods",
            "icon": "<i class='fas fa-credit-card'></i>",
        },
        {
            "title": "donation station",
            "href": "/rider/help_the_community",
            "icon": "<i class='fas fa-hand-holding-heart'></i>",
        },
        {
            "title": "settings",
            "href": "/rider/settings",
            "icon": "<i class='fas fa-cog'></i>",
        },
        {
            "title": "become a driver",
            "href": "/rider/become_a_driver",
            "icon": "<i class='fas fa-car icon-driver'></i>",
        },
        {
            "title": "about homobiles",
            "href": "/rider/about",
            "icon": "<span class='icon-h'>H</span>",
        },
        {
            "title": "help",
            "href": "/rider/help",
            "icon": "<i class='fas fa-question-circle'></i>",
        },
    ] %}
        {% for item in sidebar %}
            <a href="{{ item.href }}">
                <p class="mb-2 text-dark">
                    {{ item.icon | safe }}
                    <span class="small">{{ item.title }}</span>
                </p>
            </a>
        {% endfor %}
    {% endwith %}
</div>
<div class="pb-3 pl-3 pr-3 bg-white stick_bottom">
    <a href="/driver">
        <p class="text-dark border-top pt-3">
            <i class="fas fa-road"></i>
            <span class="small">Switch to driver</span>
        </p>
    </a>
</div>
