<div class="bg-light p-3 text-center border-bottom">
    <div id="profile_picture" class="bg-primary m-auto">
    </div>
    <p><strong>[user.name]</strong></p>
    <p>[user.pronoun]</p>
</div>
<div class="p-3">
    <br>
    <p class="mb-3">
        <i class="fas fa-car"></i>
        request a ride
    </p>
    <p class="mb-3">
        <i class="fas fa-car-side"></i>
        past rides 
    </p>
    <p class="mb-3">
        <i class="fas fa-user-circle"></i>
        my account 
    </p>
    <p class="mb-3">
        <i class="fas fa-credit-card"></i>
        payment method 
    </p>
    <p class="mb-3">
        <i class="fas fa-hand-holding-heart"></i>
        donation station 
    </p>
    <p class="mb-3">
        <i class="fas fa-cog"></i>
        settings 
    </p>
    <p class="mb-3">
        <i class="fas fa-car icon-driver"></i>
        become a driver 
    </p>
    <p class="mb-3">
        <span class="icon-h">H</span>
        about homobiles 
    </p>
    <p>
        <i class="fas fa-question-circle"></i>
        help 
    </p>
    <br>
    <p class="pt-3 border-top">
        <i class="fas fa-road"></i>
        Switch to driver 
    </p>
</div>
