{% extends "index.html" %}

{% block mobile_content %}
<div id="page_account" class="py-3">
    <div class="back_nav m-3">
        <a id="toggle_sidebar">
            <i class="material-icons">arrow_back_ios</i>
        </a>
    </div>
    <h5 class="p-3 border-bottom">
        Account
        <i class="material-icons float_right color_icon float-right">info</i>
    </h5>
    <h5 class="p-3 border-bottom">
        <i class="material-icons mr-3">person</i>
        Profile 
        <i class="material-icons color_icon float-right">arrow_forward_ios</i>
    </h5>
    <h5 class="p-3 border-bottom">
        <i class="material-icons mr-3">credit_card</i>
        Payment Methods 
        <i class="material-icons color_icon float-right">arrow_forward_ios</i>
    </h5>
    <h5 class="p-3 border-bottom">
        <i class="material-icons mr-3">email</i>
        E-Mail 
        <i class="material-icons color_icon float-right">arrow_forward_ios</i>
    </h5>
    <h5 class="p-3 border-bottom">
        <i class="material-icons mr-3">phone</i>
        [phone number] 
        <i class="material-icons color_icon float-right">arrow_forward_ios</i>
    </h5>
    <h5 class="p-3 border-bottom">
        <i class="material-icons mr-3">accessible</i>
        Services
        <i class="material-icons color_icon float-right">arrow_forward_ios</i>
    </h5>
</div>
{% endblock %}
