{% extends "index.html" %}

{% block mobile_content %}
<div id="page_account" class="py-3">
    <div class="back_nav m-3">
        <a id="toggle_sidebar">
            <i class="material-icons">arrow_back_ios</i>
        </a>
    </div>
    <h5 class="p-3 border-bottom">
        Account
        <i class="material-icons float_right color_icon float-right">info</i>
    </h5>
    {% with sidebar = [
        {
            "title": "Profile",
            "href": "/rider/profile",
            "icon": "<i class='fas fa-user-circle'></i>",
        },
        {
            "title": "Payment Methods",
            "href": "/rider/payment_methods",
            "icon": "<i class='fas fa-credit-card'></i>",
        },
        {
            "title": "E-Mail",
            "href": "/rider/email",
            "icon": "<i class='fas fa-envelope'></i>",
        },
        {
            "title": "Phone",
            "href": "/rider/phone_number",
            "icon": "<i class='fas fa-phone'></i>",
        },
        {
            "title": "Services",
            "href": "/rider/services",
            "icon": "<i class='fas fa-wheelchair'></i>",
        },
    ] %}
        {% for item in sidebar %}
        <a href="{{ item.href }}">
            <h5 class="p-3 border-bottom">
                {{ item.icon | safe }}
                {{ item.title }}
                <i class="material-icons color_icon float-right">arrow_forward_ios</i>
            </h5>
        </a>
        {% endfor %}
    {% endwith %}
</div>
{% endblock %}
