{% extends "index.html" %}

{% block mobile_content %}
<div id="page_create_account">
    <div class="map bg-primary h-100 p-3">
        <button id="toggle_sidebar" class="btn-light btn-round">
            <i class="material-icons">menu</i>
        </button>
        <div class="card m-5">
            <div class="card-body p-3">
                <h5 class="text-center">
                    Create an account to start riding with Homobiles!
                </h5>
                <div id="profile_picture" class="bg-primary m-auto">
                </div>
            </div>
            <div class="card-footer p-0">
                <div class="btn-group w-100" role="group">
                    <button type="button" class="btn btn-light">
                        Not Now 
                    </button>
                    <button type="button" class="btn btn-light">
                        Create Account
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
