{% extends "index.html" %}

{% block mobile_content %}
<a href="/rider/account">
    <button id="toggle_sidebar" class="btn-white btn-round m-3">
        <i class="fas fa-chevron-left"></i>
    </button>
</a>
<div id="page_verification_phone" class="p-3 mt-5">
    <h3>E-mail</h3>
    <h6>Enter your email to receive trip receipts, info, and updates about Homobiles.</h6>
    <br>
    <input type="text" placeholder="enter email here" class="form-control mb-3"></input>
    <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6">
            <a class="float-right">
                Save
            </a>
        </div>
    </div>
</div>
{% endblock %}
