{% extends "index.html" %}

{% block mobile_content %}
<div id="page_main_screen">
    <button id="toggle_sidebar" class="btn-primary btn-round m-3">
        <i class="material-icons">menu</i>
    </button>
    <div id="geoloc_msg_alert" class="alert alert-primary m-0 py-1 alert-dismissible fade show hidden" role="alert">
        <div id="geoloc_msg" class="text-right">
        </div>
        <button type="button" class="close p-0 pr-3" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
    <div id="map" class="map bg-primary p-3 border-bottom">
        <div class="loading text-center" style="padding-top: calc(50% - 50px);">
            <i class="fas fa-sync fa-spin text-white mb-1"
                style="font-size: 50px; width: 100%; margin-bottom: 25px;"></i>
            <h1 class="text-white">
                Loading
            </h1>
        </div>
    </div>
    <div id="main_form" class="p-0 bg-white">
        <div class="on_expanded">
            <div id="reqeust_form" class="p-2 bg-white" style="position: sticky; top: 0px; z-index: 1;">
                <button class="btn btn-primary mb-2"
                    onclick="app.rider.main_screen.collapse(this)">
                    <i class="fas fa-arrow-circle-left"></i>
                </button>
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Start</span>
                    </div>
                    <input id="rider_distination_input" type="text" placeholder="Search Destination" class="form-control form-control-sm"
                        onkeydown="app.rider.main_screen.search_destination(this)"
                        onfocus="app.rider.main_screen.onfocus(this)"
                        ></input>
                </div>
                <div class="input-group input-group-sm mb-0" id="rider_distination_input">
                    <div class="input-group-prepend">
                        <span class="input-group-text">End</span>
                    </div>
                    <input type="text" placeholder="Search Destination" class="form-control form-control-sm"
                        onkeydown="app.rider.main_screen.search_destination(this)"
                        onfocus="app.rider.main_screen.onfocus(this)"
                        ></input>
                </div>
            </div>
            <div id="destination_search_results_wrapper" class="hidden">
                <div class="header bg-primary border-bottom w-100 text-light text-center"
                     style="position: sticky; top: 0px;">
                    <p onclick="app.rider.main_screen.toggle_search_results_collapse()">
                        Results<i class="fas fa-sort-up"></i>
                    </p>
                </div>
                <div id="destination_search_results"></div>
            </div>
        </div>
        <div class="on_collapsed p-2">
            <div class="input-group input-group-sm mb-0" id="rider_distination_input">
                <input type="text" placeholder="Search Destination" class="form-control"
                    style="border-right: none;"
                    onkeydown="app.rider.main_screen.search_destination(this)"
                    onfocus="app.rider.main_screen.onfocus(this)"
                    ></input>
                <div id="pickup_time_picker_button" class="input-group-append"
                    onclick="$('#pickup_time_picker_modal_button').click()">
                    <span class="input-group-text bg-primary" style="border: none;">
                        <nobr class="text-light">
                            <i class="fas fa-clock"></i>
                            Now
                            <i class="fas fa-angle-down"></i>
                        </nobr>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
window.addEventListener("load", function() { app.utils.map.init(); });
</script>
{% endblock %}


{% block modal_content %}
<button id="pickup_time_picker_modal_button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#pickup_time_pickerModalCenter" style="display: none;">
    Launch demo modal
</button>

<div class="modal fade" id="pickup_time_pickerModalCenter" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header p-2">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-2">
                ...
            </div>
            <div class="modal-footer p-2">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
