{% extends "index.html" %}

{% block mobile_content %}
<div id="page_main_screen">
    <button id="toggle_sidebar" class="btn-primary btn-round m-3">
        <i class="material-icons">menu</i>
    </button>
    <div id="map" class="map bg-light p-3 border-bottom">
        <div class="loading m-5 text-center" style="padding-top: 50%;">
            <i class="fas fa-sync fa-spin text-primary"
                style="font-size: 50px; width: 100%; margin-bottom: 25px;"></i>
            <h1 class="text-primary">
                Loading
            </h1>
        </div>
    </div>
    <div id="geoloc_msg_alert" class="alert alert-primary m-0 py-1 alert-dismissible fade show hidden" role="alert">
        <div id="geoloc_msg">
        </div>
        <button type="button" class="close p-2 px-3" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
    <div id="main_form" class="p-3">
        <h4>Where can we take you?</h4>
        <div class="input-group mb-3">
            <div class="input-group-prepend"
                 onclick="app.rider.main_screen.search_destination(this.nextElementSibling)">
                <span class="input-group-text">
                    <i class="material-icons">search</i>
                </span>
            </div>
            <input type="text" placeholder="Search destination from a ride ASAP" class="form-control" onkeydown="app.rider.main_screen.search_destination(this)"></input>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="material-icons">today</i>
                </span>
            </div>
            <input type="text" placeholder="Schedule a future ride." class="form-control"></input>
        </div>
    </div>
</div>
<script>
window.addEventListener("load", function() { app.utils.map.init(); });
</script>
{% endblock %}
