{% extends "index.html" %}

{% block mobile_content %}
<a href="/rider/verification_phone">
    <button id="toggle_sidebar" class="btn-white btn-round m-3">
        <i class="fas fa-chevron-left"></i>
    </button>
</a>
<div id="page_set_location" class="p-3 mt-5">
    <h3>Payment methods</h3>
    <h6>Please enter your preferred payment methods for riding with Homobiles.</h6>
    <br>
    <p class="mb-1">PayPal</p>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="fab fa-paypal"></i>
            </span>
        </div>
        <input type="text" placeholder="[youname@email.com]" class="form-control"></input>
    </div>
    <p class="mb-1">Credit Card</p>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="material-icons">credit_card</i>
            </span>
        </div>
        <input type="text" placeholder="XXXX-XXXX-XXXX-1234" class="form-control"></input>
    </div>
</div>
{% endblock %}
