{% extends "index.html" %}

{% block mobile_content %}
<div id="page_create_account">
    <div class="back_nav my-3 p-3">
        <a id="toggle_sidebar">
            <i class="material-icons">arrow_back_ios</i>
        </a>
    </div>
    <h4 class="p-3 mb-3">
        Ride Details
    </h4>
    <div class="mb-3 map_small bg-primary">
    </div>
    <div class="row mx-3">
        <div class="col-6 px-0">
            <p class="text-primary m-0">
                [ride.date],[ride.time]
            </p>
            <p>
                [ride.driver] in the [ride.make] [ride.model]
            </p>
        </div>
        <div class="col-6 px-0 text-right">
            <p class="m-0">
                [ride.price]
            </p>
            <a class="text-primary">
                add tip
            </a>
        </div>
    </div>
    <div class="p-3">
        <p class="m-1">
            <i class="fas fa-car"></i>
            <small class="text-info">
                [ride.origin.street]
            </small>
        </p>
        <p class="m-1">
            <i class="fas fa-ellipsis-v"></i>
        </p>
        <p class="m-1">
            <i class="fas fa-map-marker"></i>
            <small class="text-info">
                [ride.destination.street]
            </small>
        </p>
    </div>
</div>
{% endblock %}
