{% extends "index.html" %}

{% block mobile_content %}
<a href="/rider/account">
    <button id="toggle_sidebar" class="btn-white btn-round m-3">
        <i class="fas fa-chevron-left"></i>
    </button>
</a>
<div id="page_verification_phone" class="p-3 mt-5">
    <h3>Services</h3>
    <h6>Let us know what kind of access you need
to make your ride more comfortable.</h6>
    <br>
    <div class="form-check">
        <div class="row">
            <div class="col-10 p-0">
                <label class="form-check-label w-100" for="services_1">
                    <h4>
                    <i class="fas fa-ban"></i>
                    None
                    </h4>
                </label>
            </div>
            <div class="col-2 text-right">
                <input type="checkbox" class="form-check-input" id="services_1">
            </div>
        </div>
    </div>
    <br>
    <div class="form-check">
        <div class="row">
            <div class="col-10 p-0">
                <label class="form-check-label w-100" for="services_2">
                    <h4>
                    <i class="fas fa-wheelchair"></i>
                    Wheelchair accesible ride  
                    </h4>
                </label>
            </div>
            <div class="col-2 text-right">
                <input type="checkbox" class="form-check-input" id="services_2">
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6">
            <a class="float-right">
                Save
            </a>
        </div>
    </div>
</div>
{% endblock %}
