{% extends "index.html" %}

{% block mobile_content %}
<div id="page_set_location" class="p-3">
    <div class="back_nav my-3">
        <a href="/rider/payment_methods">
            <i class="material-icons">arrow_back_ios</i>
        </a>
    </div>
    <h3>Update Payment Method</h3>
    <br>
    <p class="mb-1">Credit Card</p>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="material-icons">credit_card</i>
            </span>
        </div>
        <input type="text" placeholder="XXXX-XXXX-XXXX-1234" class="form-control"></input>
    </div>
</div>
{% endblock %}
