{% extends "index.html" %}

{% block mobile_content %}
<a href="/rider/verification_phone">
    <button id="toggle_sidebar" class="btn-white btn-round m-3">
        <i class="fas fa-chevron-left"></i>
    </button>
</a>
<div id="page_verification_phone" class="p-3 mt-5">
    <h3>Enter your code</h3>
    <h6>Enter the verification code we sent you</h6>
    <input type="text" placeholder="X X X X X" class="form-control mb-3"></input>
    <button class="btn btn-round btn-primary float-right">
        <a href="#">
            <i class="material-icons text-light">arrow_forward</i>
        </a>
    </button>
</div>
{% endblock %}
